.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 6rem;
  max-height: 100vh;
  position: relative;
  /* font-size: 24px; */

}

.main>div {
  overflow: auto;
  max-height: 80vh;
  padding: 20px;
}

.preview {
  font-size: 32px;
}

.text {
  font-size: 16px;
}