.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}



.preview {
  font-size: 32px;
}



.jp-token {
  line-height: 1.5;
  background: none;
  margin: 0 2px;
}
.jp-token:hover{ 
  background: #64fffa39;
}